@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&family=Lobster&family=Oswald:wght@300;600&family=Fjalla+One&family=Lora:wght@400;700&family=Poppins:wght@300;600&display=swap");

// Global
html,
body {
  margin: 0;
  background-color: #fff;
  font-family: "Fjalla One", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: #000;
}

p {
  color: #000;
}

h2 {
  font-size: 2rem;
}

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-title {
  color: #000;
  font-family: "Fjalla One";
  font-size: 3rem;
}

.header-items {
  a {
    padding: 10px;
  }
}

// Home
.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin: 20px;
  background-color: #fff;
}

// Albums
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.album-card {
  position: relative;
  height: auto;
  overflow: hidden;
  margin: 0px;

  .album-thumbnail {
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    img {
      height: auto;
      width: 100%;
      border-radius: 5px;
      aspect-ratio: 2/1;
      display: block;
      margin: 1px;
      transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
    }

    img:hover {
      transform: scale(1.01);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      opacity: 75%;
    }

    &:hover + .album-title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .album-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 3rem;
    font-family: "Fjalla One";
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.3s ease;
    z-index: 2;
  }
}

// Album
.album {
  padding: 20px;
  text-align: center;
}

.album-name {
  font-size: 3rem;
  font-family: "Lobster";
}
// Roboto, Playfair Display, Lobster, Oswald, Fjalla One, Lora, Poppins

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.01);
}

// Lightbox
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.lightbox-content {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f8f8; /* Light background for the frame */
  padding: 50px; /* Space between the image and the frame */
  border: 15px solid #8b4513; /* Frame border */
  border-radius: 2px; /* Rounded corners for the frame */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.lightbox-content img {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 2px; /* Slight rounding for the image itself */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 4rem;
  cursor: pointer;
  padding: 1rem;
}

.lightbox-close {
  top: -25px;
  right: 0px;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.lightbox-prev {
  left: -90px;
  top: 50%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-50%);
}

.lightbox-next {
  right: -90px;
  top: 50%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-50%);
}

.exif-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99%;
  font-size: 3rem;
  align-items: center;
  padding-top: 20px;

  .exif-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    font-size: 3rem;

    .exif-title {
      margin: 0px;
      font-size: 1rem;
      font-family: "Lora";
      text-shadow: 1px 1px 2px #d3d3d3;
    }
    .exif-value {
      margin: 0px;
      font-size: 1.2rem;
      font-family: "Oswald";
      text-shadow: 1px 1px 2px #d3d3d3;
    }
  }
}
