/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+Onedisplay=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html, body {
  margin: 0;
  background-color: #000000;
  font-family: 'Fjalla One', sans-serif;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.album-cover {
  width: 30vmin;
}

.album-cover__image {
  border-radius: 2px;
  width: 100%;
}

.about {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-grid {
  
}