@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@300&family=Cormorant:wght@600&display=swap');

html,
body {
  margin: 0;
  background-color: #000000;
  font-family: 'Fjalla One', sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.header-title {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Fjalla One";
  font-size: 32px;
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.albums {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  overflow: hidden;

  @media (max-width: 550px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.album {
  height: 215px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 4s ease;

  @media (max-width: 550px) {
    width: 50vw;
    height: auto;
  }
}

.album-title {
  position: relative;
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  z-index: 1;

  @media (max-width: 550px) {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vw;
  }
}

.album-cover {
  width: 100%;
  transform: translateY(-75%);

  @media (max-width: 550px) {
    transform: translateY(0%);
  }
}




.switzerland {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-photo-gallery--gallery {
  padding: 3em;
  max-width: 1200px;
}

.image-grid {
  max-width: 1200px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 425px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
  }
}

.image-grid__image {
  width: 100%;
  height: auto;
  border-radius: 2px;
}